<!DOCTYPE html>
<html>

<head>
    <title> </title>
</head>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-body text-center col-md-12"
                        style="box-shadow: 2px 4px 12px 2px rgb(148, 147, 147);  padding: 0; border-radius: 2px;  margin-bottom: 20px; background-color:plum;">
                        <p appStrikethrough>{{acc.name}}<br></p>
                        {{acc.login}}<br>
                        <img src="{{acc.avatar_url}}"><br>

                        {{acc.html_url}}<br>
                        {{acc.followers}}<br>
                        {{acc.following}}<br>
                        {{acc.completeDate|date}}<br>

                    </div>


                    <div>

                        {{repos.name}}
                        {{repos.language}}
                        {{repos.description}}
                    </div>


                </div>
            </div>
        </div>
    </div>

</body>

</html>