<!DOCTYPE html>
<html>

<head>
    <title> </title>
</head>
<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-body text-center col-md-12"
                        style="box-shadow: 2px 4px 12px 2px rgb(148, 147, 147);  padding: 0; border-radius: 2px; margin-left:50px; margin-bottom: 20px; background-color:rgb(223, 158, 185);">
                        <p appStrikethrough>Name:{{acc.name}}<br></p>
                        <p>login name:{{acc.login}}</p><br>
                        <img src="{{acc.avatar_url}}"><br>

                       
                        <p>followers: {{acc.followers}}</p><br>
                        <p>following:{{acc.following}}</p><br>
                        <p>Date:{{acc.completeDate|date}}</p><br>

                    </div>


                    <!-- <div>

                        {{repos.name}}
                        {{repos.language}}
                        {{repos.description}}
                    </div> -->
                    <!-- <div class="move" id="move2">
                            
                                Project name : {{repos.name}} 
                                <br>
                                Project description : {{repos.description}} 
                                <br>
                                Languages used : {{repos.language}}
                                <br>
                          
                        </div>
                        <a href="" (click)="goToForm()">Back to form</a> -->


                </div>
            </div>
        </div>
    </div>

</body>

</html>