<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <div class ="container">
           <div>
            <h1>Welcome to my github search application</h1>
            <p>you can now easily search other software developper's repository easily, by inputing their name </p>
            <h4>Enjoy the ride!!!don't forget to recommend us</h4>
           </div>
            <div class="form-group">
            <label for="name">Name</label>
            <input #accessing type="text" required class="form-control" id="name">
            <button type="submit" class="btn-btn-danger" routerLink="/about" routerLinkActive='active'
                (click)="fun(accessing.value)">Submit</button>

        </div>

    </div>

</body>
</html>